{
  "google": {
    "client_id": "YOUR_GOOGLE_CLIENT_ID.apps.googleusercontent.com",
    "client_secret": "YOUR_GOOGLE_CLIENT_SECRET",
    "project_id": "YOUR_PROJECT_ID"
  },
  "slack": {
    "bot_token": "xoxb-YOUR-PROJECT-ID"
  },
  "email": {
    "pass": "YOUR_APP_PASSWD"
  }
}
